tensorboard
torch-ema
ninja
trimesh
opencv-python==4.6.0.66
configargparse
tensorboardX
torch
numpy 
pandas
tqdm
matplotlib
PyMCubes
rich
pysdf
dearpygui
packaging
scipy
lpips
imageio
git+https://github.com/facebookresearch/detectron2.git
